## 4. More on sequence:

### 4.1. String: 

* A string is created by entering text between two single or double quotation marks.

In [4]:
a = "You are too good."
for i in a:
    print(i)

Y
o
u

a
r
e

t
o
o

g
o
o
d
.

In [5]:
# string indexing
print(a[5])

r

In [16]:
# string index out of range
print(a[100])

IndexError: string index out of range

In [17]:
# string slicing
print(a[1:14])

ou are too go

In [20]:
# accessing the last index word.
print(len(a))
print(a[len(a) - 1])

# or
 
print(a[-1])

17
.
.

In [21]:
a[-1:-8:-1]

'.doog o'

In [22]:
# reversing the string.
print(a[::-1])

.doog oot era uoY

In [24]:
print("Raushan"[::-1])

nahsuaR

##### string operation: concatenation

* As with integers and floats, strings in Python can be added, using a process called concatenation, which can be done on any two strings.
* When concatenating strings, it doesn't matter whether they've been created with single or double quotes.

In [26]:
"Raushan" + "kumar"

'Raushankumar'

In [27]:
"Raushan" + " " + "Kumar"

'Raushan Kumar'

* Even if your strings contain numbers, they are still added as strings rather than integers. Adding a string to a number produces an error, as even though they might look similar, they are two different entities.

In [28]:
"25" + "47"

'2547'

In [29]:
 1 + '2' + 3 + '4'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

* Strings can also be multiplied by integers. This produces a repeated version of the original string. The order of the string and the integer doesn't matter, but the string usually comes first.

* Strings can't be multiplied by other strings. Strings also can't be multiplied by floats, even if the floats are whole numbers.

In [30]:
"Hello" * 4

'HelloHelloHelloHello'

In [31]:
4 * "2"

'2222'

In [32]:
 "17" * "5"

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
"python" * 7.0

TypeError: can't multiply sequence by non-int of type 'float'

In [34]:
"python" * 0

''

In [35]:
# strings are immutable:

s = "Python"
s[4] = "o"

TypeError: 'str' object does not support item assignment

### 4.2. Lists:

* Lists are another type of object in Python. They are used to store an indexed list of items.
* A list is created using square brackets with commas separating items.
* The certain item in the list can be accessed by using its index in square brackets.

In [37]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# list indexing

l[5]

6

In [39]:
l[-2]

8

In [41]:
length = len(l)

for i in range(length):
    print(l[i])

1
2
3
4
5
6
7
8
9

In [40]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [42]:
print(*l)

1 2 3 4 5 6 7 8 9

In [44]:
# list of any type:

lst = ["Hello", 1, True, 2.5, None]
print(*lst)

Hello 1 True 2.5 None

In [45]:
# nested list

lst2 = [1, 2, 3, [4, 5, 6, [1, 8], 47], (1, 5, 7)]
for i in lst2:
    print(i)

1
2
3
[4, 5, 6, [1, 8], 47]
(1, 5, 7)

In [50]:
print(lst2[3])

[4, 5, 6, [1, 8], 47]

In [53]:
lst2[3][3][1]

8

In [54]:
# list slicing:

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
l[2:8:2]

[2, 4, 6]

* list[start, stop, step]

##### list operations and functions:

In [57]:
nums = [1,2,3]

# list can be added and multiplied in the same way as string.

print(nums + [4,5,6])

print(nums * 4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

* To check if an item is in a list, the in operator can be used. It returns True if the item occurs one or more times in the list, and False if it doesn't.

In [58]:
words = ["Ram", "Shyam", "Mohan", "sita"]
"spam" in words

False

In [59]:
"Mohan" in words

True

* To check if an item is not in a list, you can use the not operator in one of the following ways:

In [60]:
nums = [1, 2, 3]
print(not 4 in nums)
print(4 not in nums)
print(not 3 in nums)
print(3 not in nums)

True
True
False
False

adding an element in the list:

* Another way of altering lists is using the append method. This adds an item to the end of an existing list.

In [62]:
nums = [1,2,3]
print(nums)
nums.append(4)
print(nums)

[1, 2, 3]
[1, 2, 3, 4]

* The dot before append is there because it is a method of the list class.

In [63]:
# to get the length of the list

len(nums)

4

insert

* The insert method is similar to append, except that it allows you to insert a new item at any position in the list, as opposed to just at the end.

In [64]:
words = ["Python", "fun"]
index = 1
words.insert(index, "is")
print(words)

['Python', 'is', 'fun']

index

* The index method finds the first occurrence of a list item and returns its index.
* If the item isn't in the list, it raises a ValueError.

In [65]:
letters = ['p', 'q', 'r', 's', 'p', 'u']
print(letters.index('r'))
print(letters.index('p'))
print(letters.index('z'))

2
0

ValueError: 'z' is not in list

There are a few more useful functions and methods for lists.
max(list): Returns the list item with the maximum value
min(list): Returns the list item with minimum value
list.count(obj): Returns a count of how many times an item occurs in a list
list.remove(obj): Removes an object from a list
list.reverse(): Reverses objects in a list

In [69]:
l = [1,2,3,4,5,1,1,2,4,3,1]
l.count(1)

4

In [70]:
l.pop()

1

In [71]:
l

[1, 2, 3, 4, 5, 1, 1, 2, 4, 3]

In [72]:
l.reverse()

In [73]:
l

[3, 4, 2, 1, 1, 5, 4, 3, 2, 1]

In [74]:
l.sort()

In [75]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

In [77]:
max(l)

5

In [78]:
min(l)

1

In [79]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

In [80]:
l.remove(5)

In [81]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4]

In [83]:
sum(l)

21

In [84]:
l1 = [1,2,3]
l2 = [4,5]
l3 = [6,7,8,9]
print(l1, l2, l3)

[1, 2, 3] [4, 5] [6, 7, 8, 9]

In [87]:
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 4, 5, 4, 5]

In [88]:
l2

[4, 5]

In [89]:
l1 = l1 + 4

TypeError: can only concatenate list (not "int") to list

### 4.3. Dictionary:

* Dictionaries are data structures used to map arbitrary keys to values.
* Dictionaries can be indexed in the same way as lists, using square brackets containing keys.
* Each element in a dictionary is represented by a key:value pair.

In [90]:
d = dict()
d

{}

In [91]:
d = {"1":"Raushan", "2":"Nikky", "3":"Harikishore", "4":"Ranjeet"}
d

{'1': 'Raushan', '2': 'Nikky', '3': 'Harikishore', '4': 'Ranjeet'}

In [92]:
d["1"]

'Raushan'

In [93]:
d[2]

KeyError: 2

In [94]:
for i in d:
    print(i)

1
2
3
4

In [95]:
d.values()

dict_values(['Raushan', 'Nikky', 'Harikishore', 'Ranjeet'])

In [96]:
d.items()

dict_items([('1', 'Raushan'), ('2', 'Nikky'), ('3', 'Harikishore'), ('4', 'Ranjeet')])

In [97]:
for i in d.items():
    print(i)

('1', 'Raushan')
('2', 'Nikky')
('3', 'Harikishore')
('4', 'Ranjeet')

In [98]:
for key, value in d.items():
    print(key, ":", value)

1 : Raushan
2 : Nikky
3 : Harikishore
4 : Ranjeet

### 4.4. Tuple:

### 4.5. Set nd Frozen set: